<html xmlns:th="http://www.thymeleaf.org" lang="de">
<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kunden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Kunden</h1>
<table class="table table-striped">

    <thead>
    <tr th:each="kunde : ${kunden}">
        <td th:text="${kunde.name}">Vorwerk & Co. KG</td>
        <td th:text="${kunde.adresse.strasse}+', '+${kunde.adresse.plz}+' '+${kunde.adresse.stadt}">Mühlenweg 17-37, 42270 Wuppertal</td>
        <td th:text="${kunde.getGesamtzahl()}">89140</td>
        <td th:each="auto : ${kunde.autos}">
            <ul>
                <li th:text="${auto.marke}+' -- '+${auto.farbe}+' ('+${auto.hubraum}+' ccm)'"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>